@font-face {
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 400;
    src: local('Cormorant Regular'), local('Cormorant-Regular'),
    url('../public/fonts/Cormorant/Cormorant-Regular.ttf') format('truetype'),
    url('../public/fonts/Cormorant/Cormorant-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Josefin'),
    url('../public/fonts/Josefin/JosefinSans-ExtraLight-Cyrillic.ttf') format('truetype'),
    url('../public/fonts/Josefin/JosefinSans-ExtraLight-Cyrillic.woff') format('woff2'),
    url('../public/fonts/Josefin/JosefinSans-ExtraLight-Cyrillic.woff2') format('woff');
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    src: local('Raleway Regular'),
    url('../public/fonts/Raleway/Raleway-Regular.ttf') format('truetype'),
    url('../public/fonts/Raleway/Raleway-Regular.woff') format('woff');
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Josefin', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

:root {
    --color-brown: #b56953;
}

.raleway-font {
    font-family: 'Raleway', sans-serif;
    letter-spacing: .25em;
    font-size: 12px;
    text-transform: uppercase;
    color: #000;
}

$base-color: #c6538c;
