@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @variants responsive {
        .text-stroke {
            text-shadow: 0 0 0.03rem black;
        }
    }
}

@font-face {
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 400;
    src: local('Cormorant Regular'), local('Cormorant-Regular'),
    url('../public/fonts/Cormorant/Cormorant-Regular.ttf') format('truetype'),
    url('../public/fonts/Cormorant/Cormorant-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Josefin';
    font-style: normal;
    font-weight: 300;
    src: local('Josefin Sans'),
    url('../public/fonts/Josefin/JosefinSans-ExtraLight-Cyrillic.ttf') format('truetype'),
    url('../public/fonts/Josefin/JosefinSans-ExtraLight-Cyrillic.woff') format('woff2'),
    url('../public/fonts/Josefin/JosefinSans-ExtraLight-Cyrillic.woff2') format('woff');
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    src: local('Raleway Regular'),
    url('../public/fonts/Raleway/Raleway-Regular.ttf') format('truetype'),
    url('../public/fonts/Raleway/Raleway-Regular.woff') format('woff');
}

@font-face {
    font-family: 'WeatherLinea';
    font-style: normal;
    font-weight: 500;
    src: local('WeatherLinea Regular'),
    url('../public/fonts/Weather/linea-weather-10.ttf') format('truetype'),
    url('../public/fonts/Weather/linea-weather-10.woff') format('woff');
}

main {
    min-height: calc(100vh - $header-height - $footer-height);
}

.raleway-font {
    font: 12px 'Raleway', sans-serif;
    letter-spacing: .25em;
    text-transform: uppercase;
    color: #000;
}
