/* MAIN */
.fa-rotate-180{
    margin-top: -2px;
    padding-top: 2px
}
#slider-cropper-modal .modal-dialog,
#number-cropper-modal .modal-dialog,
#gallery-cropper-modal .modal-dialog{
    max-width: 80%;
}
#slider-cropper-modal .cropper-image,
#number-cropper-modal .cropper-image,
#gallery-cropper-modal .cropper-image{
    width: 90%;
}

.btn-cropper-modal{
    display: none;
}

.slide-switch-active,
.number-image-switch-active,
.number-image-remove,
.slide-remove,
.number-remove,
.number-price-remove,
.number-switch-active,
.gallery-image-remove,
.gallery-image-switch-active,
.gallery-enable-numbers-photo,
.info-remove,
.text-remove{
    cursor: pointer;
}

/* MAIN NAVBAR */
.admin-navbar{
    border-bottom: 1px solid lightgrey;
}
.admin-navbar-right-side #admin-navbar-dropdown{
    opacity: .9;
    font-size: 18px;
}
.admin-navbar-right-side #admin-navbar-dropdown:hover{
    opacity: 1;
}
.admin-navbar .dropdown-menu{
    position: absolute!important;
}

/* NAVBAR MENU */
.admin-navbar-menu{
    border-bottom: 1px solid lightgrey;
}

.admin-navbar-menu .nav-link{
    color: rgba(0, 0, 0, 0.81) !important;
}

.admin-navbar-menu .nav-link-text:hover,
.admin-nav-link-active,
.admin-menu-dropdown-link:hover{
    color: black;
    text-shadow: 0 0 .01px black;
}
.admin-navbar-menu-text{
    display: none;
}
#admin-navbar-menu-collapse .navigation-dropdown .dropdown-menu{
    top: 95%
}


/* SLIDERS */
.loading{
    display: none;
}

.loading img{
    width: 36px;
    margin-left: 15px;
    margin-right: 5px;
}

.error-load-side{
    display: none;
}

.success-load-photo, .success-remove-photo{
    display: none;
}

/* Numbers */
.number-remove-btn{
    background-color: inherit!important;
}

/* Orders */
.orders-table > tbody > tr > td {
    vertical-align: middle;
}

.table-mobile{
    display: none;
}

@media screen and (max-width: 1024px) {
    #slider-cropper-modal .modal-dialog{
        max-width: 100%!important;
    }
}

@media screen and (max-width: 767px) {
    .admin-navbar-menu-text{
        display: inline-block;
    }
    .table-mobile{
        display: block;
    }
    .table-desktop{
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .orders-table-container{
        padding-left: 0!important;
        padding-right: 0!important;
    }
}
