/*
|--------------------------------------------------------------------------
| GENERAL START
|--------------------------------------------------------------------------
*/
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@font-face {
    font-family: 'Montserat Light';
    src: url('/fonts/Montserrat-Light.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserat Medium';
    src: url('/fonts/Montserrat-Medium.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserat Regular';
    src: url('/fonts/Montserrat-Regular.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserat Semibold';
    src: url('/fonts/Montserrat-Semibold.ttf') format("truetype");
    font-weight: bold;
    font-style: normal;
}

:root {
   --dark: #2b2e34;
   --light-grey: #e5e5e5;
   --turquoise-dark: #2a7f7e;
   --turquoise-light: #24acae;
}
/*** Common start ***/
html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 200px;
    font-family: 'Montserat Regular';
}
::-webkit-scrollbar {
    width: 14px;
}
::-webkit-scrollbar-track {
    background-color: #fff;
}
::-webkit-scrollbar-thumb {
    background: var(--turquoise-dark);
    border: 2px solid #ffffff;
}
/*** Common end ***/

/*** Alert success start ***/
.grey-background-success{
    color: var(--dark);
    background-color: var(--light-grey);
    border-color: var(--light-grey);
}
/*** Alert success end ***/

/*** Success modal start ***/
#success-modal{
    padding: 40px;
}
#success-modal .box-icon-check i{
    padding: 20px;
    background: #543668;
    border-radius: 50%;
    color: #fff;
    font-size: 40px;
    position: absolute;
    top: -40px;
    left: calc(50% - 40px);
}
#success-modal .modal-body{
    padding-top: 60px!important;
}
/*** Success modal end ***/


/*** Line in the middle start ***/
.line-in-the-middle {
    overflow: hidden;
}
.line-in-the-middle:before,
.line-in-the-middle:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    width: 100%;
    height: 1px;
    background: var(--light-grey);
    border: solid #FFF;
    border-width: 0 10px;
}
.line-in-the-middle:before {
    margin-left: -100%;
}
.line-in-the-middle:after {
    margin-right: -100%;
}
/*** Line in the middle end ***/

/*** Content start ***/
.content{
    padding-top: 80px
}
/*** Content end ***/


/*** Navigation start ***/
.navbar-brand-logo{
    width: 29%;
}
.logo{
    height: 30px;
}
.menu-header-phone-btn-mobile{
    display: none;
}
.nav-container{
    padding-top: 20px;
    padding-bottom: 20px;
}
.navbar-brand {
    font-size: 32px!important;
    color: white!important;
}
.main-menu{
    font-size: 16px;
}
.menu-header{
    /*height: 80px;*/
    background: white;
    box-shadow: 0 2px 10px 1px rgba(43,46,52,0.4);
}

.menu-header .nav-menu-link,
.menu-header-phone-btn-desktop,
.menu-header-booking-btn{
    color: var(--dark)!important;
}

.menu-header-phone-btn-desktop:focus,
.menu-header-booking-btn-mobile:focus,
.menu-header-phone-btn-mobile:focus,
.menu-header-booking-btn:focus,
.menu-header-phone-btn-desktop:hover,
.menu-header-booking-btn:hover
{
    background: var(--turquoise-dark);
    color: white!important;
    border-color: var(--turquoise-dark);
    outline: none;
}

.menu-header .navbar-light .navbar-nav .menu-header-booking-btn:focus,
.menu-header .navbar-light .navbar-nav .menu-header-phone-btn-desktop:focus,
.navbar-light .navbar-nav .menu-header-booking-btn:hover,
.menu-header .navbar-light .navbar-nav .menu-header-phone-btn-mobile:focus,
.navbar-light .navbar-nav .menu-header-phone-btn-mobile:hover,
.btn-outline-light:hover,
.btn-outline-light:focus{
    color:var(--dark);
    transition: all 0.4s ease 0s;
}

.navbar-light .navbar-toggler{
    border-color: var(--dark);
}
.navbar-light span.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(43,46,52)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    color: var(--dark);
}
.navbar-light .navbar-toggler:hover,
.navbar-light .navbar-toggler:focus{
    background: white;
}
.navbar-light .navbar-toggler:hover span.navbar-toggler-icon,
.navbar-light .navbar-toggler:focus span.navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(84,54,104,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.menu-header-booking-btn,
.menu-header-phone-btn-desktop,
.menu-header-phone-btn-mobile{
    font-size: 14px;
    padding-right: 15px!important;
    padding-left: 15px!important;
}

.navbar-light .navbar-nav .nav-menu-link{
    display: inline-block;
    color: var(--dark);
    text-decoration: none;
}
.navbar-light .navbar-nav .nav-menu-link:after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: var(--turquoise-dark);
    transition: width .2s;
    margin-top: 10px;
    margin-bottom: -10px;
}
.navbar-light .navbar-nav .nav-menu-link:hover:after{
    width: 100%;
}
.nav-link-active{
    border-bottom: 2px solid var(--turquoise-dark);
    padding-bottom: 13px;
}
.navbar-light .navbar-nav .nav-menu-link-dropdown{
    display: inline-block;
    color: var(--dark)!important;
    text-decoration: none;
}
.navigation-dropdown-active{
    border-bottom: 2px solid white;
    padding-bottom: 13px;
}
.navigation-dropdown-menu{
    top: 98%;
    white-space: nowrap
}
.nav-link-dropdown:hover span, .nav-link-dropdown-active span{
    text-shadow: 0 0 0.01px var(--dark);
}
.nav-link-dropdown:hover .section-name-icon {
    color: var( --turquoise-dark);
    opacity: 1;
}
.menu-header-booking-btn-mobile{
    display: none;
}
.menu-header-booking-btn-key{
    display: none;
}

/* Modals */
.modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
    box-shadow: 0 0 15px rgba(0,0,0,.5);
}
#nav-phones .close,
#nav-booking .close,
#page-rules .close{
    color: var(--turquoise-dark);
    opacity: 1;
}
#nav-phones .close:focus,
#nav-booking .close:focus,
#page-rules .close:focus{
    outline: none;
}
#nav-phones .close span,
#nav-booking .close span,
#page-rules .close span{
    display: block;
    width: 21px;
    height: 21px;
}
#nav-phones .close:hover,
#nav-booking .close:hover,
#page-rules .close:hover{
    animation:spin .7s linear infinite;
}
.modal-nav-phone{
    font-size: 20px;
}
.modal-nav-phone a{
    color: #212529;
}
#nav-booking-modal-title i,
#nav-phones-modal-title i{
    opacity: .6;
}
#front-navbar-dropdown{
    padding-right: 0;
    padding-left: 0;
}
/*** Navigation end ***/

/*** Validation start***/
.is-invalid-custom-input{
    border-top: 1px solid red!important;
    border-bottom: 1px solid red!important;
    border-right: 1px solid red!important;
    border-top-right-radius: 4px!important;
    border-bottom-right-radius: 4px!important;
}
.is-invalid-custom-badge{
    color: red;
    border: 1px solid red;
}
.is-invalid-custom-checkbox{
    border: 1px solid red;
    padding: 5px 30px;
    border-radius: 4px;
    margin-left: -3px;
    margin-top: -5px;
}
/*** Validation end***/

/*** Footer start ***/
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
    background-color: var(--dark);
    box-shadow: 0 -2px 10px -1px rgba(108, 117, 125, 0.7);
    color: #fff;
    padding-top: 20px;
}
.footer-phones,
.footer-social{
    margin: auto;
}

.footer-phones a, .footer-email a {
    color: white;
    font-size: 18px;
}
.footer-logo{
    height: 60px;
}
/*** Footer end ***/

/*
|--------------------------------------------------------------------------
| GENERAL END
|--------------------------------------------------------------------------
*/


/*
|--------------------------------------------------------------------------
| MAIN PAGE START
|--------------------------------------------------------------------------
*/
/*** General start***/
.section-name-icon{
    opacity: .3;
    margin-left: 10px;
}
/*** General end***/

/*** Numbers start ***/
.main-page-card-number{
    padding: 10px;
}
.main-page-card-number-body:hover{
    transition: all 0.4s ease 0s;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}
.main-page-card-number-image{
    position: relative;
}
.main-page-card-number-image-layer{
    background-color: rgba(0, 0, 0, 0.61);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.main-page-card-number-image-layer-text {
    color: white;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-page-card-number-image-layer:hover{
    opacity: 1;
    transition: all 0.4s ease 0s;
    border-radius: 2px;
}
/* numbers */
#numbers-slider .owl-prev i,
#numbers-slider .owl-next i{
    color: var(--dark);
    font-size: 2em;
    transform: scale(1,1.1);
    border-radius: 4px;
}
#numbers-slider .owl-prev i{
    padding: 7px 18px 7px 15px;
}
#numbers-slider .owl-next i{
    padding: 7px 15px 7px 18px;
}
#numbers-slider .owl-prev:hover,
#numbers-slider .owl-next:hover {
    background: #e5e5e5;
    transition: all 0.4s ease 0s;
}
#numbers-slider .owl-next{
    right: -5%;
}
#numbers-slider .owl-prev{
    left: -5%;
}
/*** Numbers end ***/


/*** Main Slider start ***/
#main-slider .owl-item img{
    height: calc(100vh - 80px);
    object-fit: cover;
}
.main-slider-mobile{
    display: none;
}
#main-slider .owl-prev,
#main-slider .owl-next,
#main-slider-mobile .owl-prev,
#main-slider-mobile .owl-next{
    position: absolute;
    top: calc(50% - 4px);
    transform: translateY(-50%);
}

#numbers-slider .owl-prev,
#numbers-slider .owl-next{
    position: absolute;
    top: calc(50% - 10px);
    transform: translateY(-50%);
}

#main-slider .owl-prev:focus,
#main-slider .owl-next:focus,
#main-slider-mobile .owl-prev:focus,
#main-slider-mobile .owl-next:focus,
#numbers-slider .owl-prev:focus,
#numbers-slider .owl-next:focus{
    outline: none;
}

#main-slider .owl-next i,
#main-slider .owl-prev i,
#main-slider-mobile .owl-next i,
#main-slider-mobile .owl-prev i{
    font-size: 1.5em;
    color: var(--dark);
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.7);
}

#main-slider .owl-next i,
#main-slider-mobile .owl-next i{
    padding: 7px 15px 7px 18px;
}
#main-slider .owl-prev i,
#main-slider-mobile .owl-prev i{
    padding: 7px 18px 7px 15px;
}
#main-slider .owl-prev,
#main-slider-mobile .owl-prev{
    left: 5%;
}
#main-slider .owl-next,
#main-slider-mobile .owl-next{
    right: 5%;
}

#main-slider .owl-prev:hover,
#main-slider .owl-next:hover,
#main-slider-mobile .owl-prev:hover,
#main-slider-mobile .owl-next:hover{
    background-color: #fff;
    transition: all 0.4s ease 0s;
}
/*** Main sliders end ***/

/*** Service start ****/
.service-icon-block{
    margin-bottom: 80px;
}
.service-icon-img{
    width: 100px;
}
.service-icon-text{
    font-size: 21px;
}
.service-icon-img:hover{
    transform: scale(1.2);
    transition: all 0.4s ease 0s;
}
/*** Service end ****/


/*** Booking form start ***/
.booking-from-badge-name,
.booking-from-badge-date{
    font-size: 18px;
}
/*** Booking form end ***/

/*
|--------------------------------------------------------------------------
| MAIN PAGE END
|--------------------------------------------------------------------------
*/

/*
|--------------------------------------------------------------------------
| AUTH LOGIN START
|--------------------------------------------------------------------------
*/
.auth-login,
.auth-password{
    opacity: .7;
    font-size: 25px;
}
/*
|--------------------------------------------------------------------------
| AUTH LOGIN END
|--------------------------------------------------------------------------
*/


/*
|--------------------------------------------------------------------------
| NUMBER PAGE START
|--------------------------------------------------------------------------
*/
#slider-thumbs .item {
    line-height:70px;
    padding: 5px;
    text-align: center;
    cursor: pointer;

}
#slider-thumbs .current .item {
    border: solid 1px var(--dark);
    border-radius: 0.25em;
    background-clip: content-box;
    background-color: white;
}
#slider-big{
    margin-top: 40px;
}
#slider-big.owl-theme {
    position: relative;
}
#slider-big.owl-theme .owl-next,
#slider-big.owl-theme .owl-prev {
    position: absolute;
    top: calc(50% - 4px);
    transform: translateY(-50%);
}
#slider-big.owl-theme .owl-next:hover,
#slider-big.owl-theme .owl-prev:hover {
    background: rgba(155, 142, 155, 0.3);
    transition: all 0.4s ease 0s;
}
#slider-big.owl-theme .owl-next:focus,
#slider-big.owl-theme .owl-prev:focus {
    outline: none;
}
#slider-big.owl-theme .owl-prev {
    left: -7%;
}
#slider-big.owl-theme .owl-next {
    right: -7%;
}
#slider-big.owl-theme .owl-prev i,
#slider-big.owl-theme .owl-next i {
    color: var(--dark);
    font-size: 2em;
    transform: scale(1,1.1);
    border-radius: 4px;
}
#slider-big.owl-theme .owl-prev i {
    padding: 7px 18px 7px 15px;
}
#slider-big.owl-theme .owl-next i {
    padding: 7px 15px 7px 18px;
}
.number-form-booking{
    padding-bottom: 20px;
}
/*
|--------------------------------------------------------------------------
| NUMBER PAGE STOP
|--------------------------------------------------------------------------
*/

/*
|--------------------------------------------------------------------------
| STATIC PAGES START
|--------------------------------------------------------------------------
*/
.google-map{
    border: 1px solid #543668;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
    height: 450px;
}
.feedback-envelope-badge{
    font-size: 20px;
}
/*
|--------------------------------------------------------------------------
| STATIC PAGES STOP
|--------------------------------------------------------------------------
*/

/*
|--------------------------------------------------------------------------
| GALLERY START
|--------------------------------------------------------------------------
*/
.gallery-image
{
    padding: 0;
    background-color: white;
    border: none;
    border-radius: .25rem;
}
/*
|--------------------------------------------------------------------------
| GALLERY STOP
|--------------------------------------------------------------------------
*/

@media screen and (max-width: 1199px) {
    .menu-header .navbar-brand{
        width: 22.5%;
    }
}
@media screen and (max-width: 1053px) {
    #numbers-slider .owl-next {
        right: -4%;
    }
    #numbers-slider .owl-prev {
        left: -4%;
    }
}
@media screen and (max-width: 1040px) {
    #main-slider .owl-prev {
        left: 2%;
    }

    #main-slider .owl-next {
        right: 2%;
    }
}
@media screen and (max-width: 991px) {
    .menu-header .navbar-brand{
        width: 40%;
    }
    .nav-container{
        max-width: 991px;
    }
    .container-with-sliders{
        max-width: 90%;
    }
    #numbers-slider .owl-next {
        right: -10%;
    }
    #numbers-slider .owl-prev {
        left: -10%;
    }
    .main-slider-mobile{
        display: block!important;
    }
    .main-slider-desktop{
        display: none!important;
    }
    .menu-header-booking-btn-key{
        display: block;
        font-size: 21px;
    }
    .menu-header-booking-btn-text{
        display: none;
    }
    .footer-logo{
        height: 30px;
    }
}
@media screen and (max-width: 880px) {
    #numbers-slider .owl-next {
        right: -8%;
    }
    #numbers-slider .owl-prev {
        left: -8%;
    }
    #slider-big.owl-theme .owl-prev {
        left: -8%;
    }
    #slider-big.owl-theme .owl-next {
        right: -8%;
    }
    .menu-header .navbar-brand {
        width: 32% !important;
    }
}
@media screen and (max-width: 810px) {
    #numbers-slider .owl-next {
        right: -6%;
    }
    #numbers-slider .owl-prev {
        left: -6%;
    }
    .menu-header .navbar-brand {
        width: 30% !important;
    }
}
@media screen and (max-width: 767px) {
    .navigation-dropdown-menu{
        padding-left: 45px!important;
        margin-left: 15px;
        margin-top: -8px;
    }
    .nav-menu-link-dropdown{
        margin-top: 10px;
    }
    .navigation-dropdown-active{
        padding-bottom: 5px;
    }
    #numbers-slider .owl-next {
        right: -10%;
    }
    #numbers-slider .owl-prev {
        left: -10%;
    }
    .footer-phones,
    .footer-email,
    .footer-social{
        margin-bottom: 20px;
    }
    .footer-phones,
    .footer-email{
        font-size: 18px;
    }
    body{
        margin-bottom: 220px;
    }
    .footer{
        height: 220px;
    }
    .footer-container{
        max-width: 767px;
    }
    .nav-first-item{
        margin-top: 12px;
    }
    .menu-header {
        padding-left: 15px!important;
        padding-right: 15px!important;
    }
    .menu-header-booking{
        width: 33% !important;
    }
    .menu-header-phone-btn-mobile{
        display: block;
        padding-top: 7px;
        padding-bottom: 7px;
        margin-right: 10px;
    }
    .menu-header-phone-btn-desktop{
        display: none;
    }
    .menu-header-booking-btn{
        display: none;
    }
    .menu-header-booking-btn-mobile {
        display: block;
        margin-right: 10px;
        padding-top: 7px;
        padding-bottom: 7px;
        font-size: 14px;
    }
    .menu-header-booking-btn-mobile .booking-mobile-text{
        display: none;
    }
    .nav-link-active{
        padding-bottom: 6px;
    }
}
@media screen and (max-width: 680px) {
    #slider-big.owl-theme .owl-prev {
        left: -10%;
    }
    #slider-big.owl-theme .owl-next {
        right: -10%;
    }
}
@media screen and (max-width: 615px) {
    #numbers-slider .owl-next {
        right: -9%;
    }
    #numbers-slider .owl-prev {
        left: -9%;
    }
}
@media screen and (max-width: 577px) {
    .footer {
        height: 255px;
    }
}
@media screen and (max-width: 575px) {
    #numbers-slider .owl-prev i,
    #numbers-slider .owl-next i,
    #slider-big.owl-theme .owl-prev i,
    #slider-big.owl-theme .owl-next i{
        font-size: 1.5em;
    }
    .container-with-sliders{
        max-width: 100%;
    }
    #slider-big.owl-theme .owl-prev{
        left: 5%;
    }
    #slider-big.owl-theme .owl-next{
        right: 5%;
    }
    #numbers-slider .owl-next,
    #numbers-slider .owl-prev,
    #slider-big.owl-theme .owl-prev,
    #slider-big.owl-theme .owl-next{
        background-color: rgba(255, 255, 255, 0.7);
    }
    #numbers-slider .owl-next {
        right: 5%;
    }
    #numbers-slider .owl-prev {
        left: 5%;
    }
    .main-page-card-number{
        padding-bottom: 15px;
    }
    .service-icon-block{
        width: 50%;
    }
    .numbers-btn{
        width: 50%;
    }
    .container-logo{
        text-align: center;
        margin-bottom: 20px;
    }
    .footer-phones{
        text-align: center;
    }
    .container-address{
        text-align: center;
    }
    .footer-email{
        text-align: center;
    }
    .footer{
        height: 330px;
    }
    .container-social{
        text-align: center;
    }
    body{
        margin-bottom: 330px;
    }
}
@media screen and (max-width: 460px) {
    .menu-header-booking-btn-mobile .booking-laptop-text{
        display: none;
    }
    .menu-header-booking-btn-mobile .booking-mobile-text{
        display: block;
        font-size: 21px;
    }
}
@media screen and (max-width: 450px) {
    .main-title{
        font-size: 1.6rem;
    }
    .google-map{
        height: 350px;
    }
}
@media screen and (max-width: 425px) {
    .menu-header-booking{
        width: 40% !important;
    }
    .service-icon-img{
        width: 75px;
    }
    .service-icon-text{
        font-size: 18px;
    }
}
@media screen and (max-width: 375px) {
    .main-title{
        font-size: 1.5rem;
    }
    .menu-header-phone-btn-mobile{
        display: none;
    }
    #numbers-slider .owl-prev,
    #numbers-slider .owl-next {
        top: calc(50% - 25px);
    }
}
@media screen and (max-width: 330px) {
    .service-icon-text{
        font-size: 14px;
    }
    .logo{
        height: 30px;
    }
}
@media screen and (max-width: 330px) {
    .service-icon-text{
        font-size: 14px;
    }
}
