/*** Indents start***/
blockquote{
    overflow: hidden;
    padding-right: 1.5em;
    padding-left: 1.5em;
    margin-left: 0;
    font-style: italic;
    border-left: 5px solid #ccc;
}

.m-b-80{
    margin-bottom: 80px;
}
.m-b-60{
    margin-bottom: 60px;
}
.m-b-40{
    margin-bottom: 40px;
}
.m-b-20{
    margin-bottom: 20px;
}
.p-b-40{
    padding-bottom: 20px;
}
/*** Padding end***/

.datepicker{
    z-index: 10001!important;
}

.input-group.is-invalid ~ .invalid-feedback {
    display: block!important;
}
.invalid-feedback{
    display: block!important;
}

.is-invalid-recaptcha iframe{
    border: 1px solid red!important;
    border-radius: 3px;
}

.violet-background-light{
    background-color: rgba(84, 54, 104, 0.2) !important;
}
